body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-body.jpg);
  background-size: cover;
  background-position: bottom center;
}

.container {
  height: 400px;
  width: 220px;
  position: relative;
  perspective: 1000px;
  margin-right: 50px;
}

.container:nth-child(3) {
  margin-right: 0;
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 2s ease;
  height: 400px;
  width: 220px;
  border-radius: 15px;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-front.png);
  background-position: center;
  background-size: cover;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  border: 7px solid goldenrod;
}

.container:hover .front {
  transform: rotateY(-180deg);
}


.container:hover .back {
  transform: rotateY(0deg);
}

.front img {
  width: 150px;
}

.jinx {
  background-image: url(../images/jinx-card.jpg);
  background-size: cover;
  background-position: center;
}

.zed {
  background-image: url(../images/zed-card.jpg);
  background-size: cover;
  background-position: center;
}

.tristana {
  background-image: url(../images/tristana-card.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 820px) {
  .container:nth-child(3) {
    display: none;
  }
}

@media (max-width: 600px) {
  .container:nth-child(2) {
    display: none;
  }
}